###  ------------------------------------------------
###  M E D I A B O X 2   C O N F I G   S E T T I N G S
###  ------------------------------------------------
###  The values configured here are applied during
###  $ docker compose up
###  -----------------------------------------------
LOCALUSER=
HOSTNAME=
IP_ADDRESS=
PUID=
PGID=
DOCKERGRP=
PWD=
DLDIR=
TVDIR=
MISCDIR=
MOVIEDIR=
MUSICDIR=
PIAUNAME=
PIAPASS=
CIDR_ADDRESS=
TZ=
PMSTAG=public
PLEX_GPU=none
VPN_REMOTE=
CPDAEMONUN=
CPDAEMONPASS=
NZBGETUN=
NZBGETPASS=
